body, html {
    height: 100vh;
}

.bg {
    height: 100vh;
    background-color: white;  
}

.drink-carousel-item-header {
    text-align: center;
    height: inherit;
}

.carousel-inner > .carousel-item > img {
    max-height: 50vh;
}

.drink-container {
    height: 75vh;
    /* width: 45vh; */
    margin: 3%;
    padding: 3%;
    border-radius: 15px;
    background-color: #343A40;
}

.brand-font {
    /* font-family: cursive, "Brush Script MT"; */
}
