body, html {
    height: 100vh;
}

#root {
    height: 100%;
}

.bg-img {
    height: 100% !important;
    width: 100% !important;
    /* The image used */
    background-image: url("images/background.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-black {
    background-color: black;
}

.drink-carousel-item-header {
    text-align: center;
}

.drink-container {
    /* height: 100%; */
    /* width: 45vh; */
    margin: 10%;
    padding: 5%;
    border-radius: 15px;
    background-color: #343A40;
}

.row-full-page {
    width:100vw !important;
    height: 100%;
}

#random-drink-img {
    max-height: 50vh !important;
}

.brand-font {
    /* font-family: cursive, "Brush Script MT"; */
}

@media screen and (min-width: 768px) {
    .jumbotron {
      padding: 20px 10px !important;
    }
}