body, html {
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100%;
    background-color: #c7c7c7;
    color: black;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.is-scrollLocked {
    overflow: hidden;
}

.is-momentumScrollable {
    -webkit-overflow-scrolling: touch;
}

.app-row {
    width: 100vw !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden !important;
}

.app-content {
    width: 100vw !important;
    height: 90vh !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden !important;
}

.page-background {
    background-color: #c7c7c7;
    width: 100%;
}

#drink-details {
    padding: 3%;
}

.bg-img {
    height: 100% !important;
    width: 100% !important;

    /* capping the height based on the screen size
       to make the page look better on mobile */
    max-height: 90vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.drink-container {
    margin: 3%;
    padding: 3%;
    border-radius: 15px;
    background-color: #343A40;
}

.drink-jumbo {
    margin: 3%;
    padding: 5%;
    border-radius: 15px;
    padding: 20px 10px !important;
    background-color: #343A40 !important;
    color: white;
}

#drink-detail-img {
    display: flex !important;
    justify-content: center !important;
    max-height: 50vh !important;
}